* {
  font-size: 16px;
}
article,
aside,
figure,
figcaption,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
body,
div,
dt,
dl,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
input,
form,
a,
p,
textarea {
  margin: 0;
  padding: 0;
  font-family: '\5FAE\8F6F\96C5\9ED1', consolas;
}
ol,
ul,
li {
  list-style: none;
}
li {
  margin-left: 15px;
}
a {
  text-decoration: none;
  display: block;
}
img {
  border: none;
  display: block;
}
/**
* 动画声明举例
.flash(){
    .keyframes(flash);
    .-frames(@-...){
        0%, 50%, 100% {
            .opacity(100);
        }
        25%, 75% {
            .opacity(0);
        }
    }
}
.pulse(@t:1.05;@n:pulse){
    .keyframes(@n);
    .-frames(@-...){
        0% {
            @{-}transform: scale3d(1, 1, 1);
        }
        50% {
            @{-}transform: scale3d(@t, @t, @t);
        }
        100% {
            @{-}transform: scale3d(1, 1, 1);
        }
    }
}
*/
